@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
#ECE852 amarelo brasil
#5CB338 verde brasil
#EFE3C2 bege (paleta)
#123524 preto (paleta)
*/

:root{
    --cor-primaria: #3E7B27;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #85A947;
    --cor-destaque: #ECE852;
    --cor-secoes: #003092;
    --gap-texto: ;
    --fonte-principal: 'Tinos';
    --fonte-secundaria: 'Merriweather';
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal), serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 1.5rem 15%;
    background-color: var(--cor-secoes);
}

.cabecalho-portfolio{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 1.5rem 15%;
    background-color: var(--cor-secoes);
}

.cabecalho-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 2rem;
}

.cabecalho-menu{
    display: flex;
    gap: 15px;
}

.cabecalho-menu-portfolio{
    display: flex;
    gap: 15px;
}

.cabecalho-menu-portfolio a{
    font-family: var(--fonte-secundaria), serif;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.5rem;
}

.cabecalho-menu-portfolio a:hover{
    color: var(--cor-destaque);
}

.cabecalho-menu a{
    font-family: var(--fonte-secundaria), serif;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.5rem;
}

.cabecalho-menu a:hover{
    color: var(--cor-destaque);
}

.cabecalho-menu-responsivo{
    display: none;
    gap: 15px;
}

.cabecalho-menu-responsivo a{
    font-family: var(--fonte-secundaria), serif;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.5rem;
}

.cabecalho-menu-responsivo a:hover{
    color: var(--cor-destaque);
}

.apresentacao{
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.apresentacao-conteudo-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 2.3rem;
}

.destaque-titulo{
    color: var(--cor-destaque);
}

.apresentacao-conteudo-texto{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.apresentacao-conteudo-imagem{
    width: 50%;
    border-radius: 5%;
    gap: 5px;
}

.apresentacao-conteudo-hobbies{
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0;
}

.apresentacao-conteudo-hobbies-subtitulo{
    font-family: var(--fonte-principal), serif;
    font-size: 2.3rem;
}

.apresentacao-conteudo-hobbies-lista{
    display: flex;
    gap: 3%;
    list-style: none;
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
}

.apresentacao-conteudo-hobbies-item{
    padding: 1%;
}

.apresentacao-conteudo-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.apresentacao-conteudo-redes-subtitulo{
    font-family: var(--fonte-principal), serif;
    font-size: 2.3rem;
}

.apresentacao-conteudo-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-destaque);
    width: 18rem;
    font-family: var(--fonte-secundaria), serif;
    gap: 1rem;
    font-size: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1.3rem 0;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresentacao-conteudo-links-icone{
    width: 10%;
}

.apresentacao-conteudo-links:hover{
    background-color: var(--cor-terciaria);
}

.rodape{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secoes);
    padding: 1.5rem;
    align-items: center;
    gap: 25px;
}

.rodape-texto{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 5% 10%;
    }

    .cabecalho-menu{
        display:none;
    }
    
    .cabecalho-menu-responsivo{
        display: flex;
        padding: 5%;
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao-conteudo{
        width: auto;
    }
    
}

/* 
    CSS -> Contato
*/

.conteudo-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5%;
}

.conteudo-formulario input{
    width: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

/* 
    CSS -> Paginas
*/

.nav-responsivo{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*
    CSS -> Portfolio
*/

.navegacao{
    display: flex;
    justify-content: center;
}

.navegacao-menu{
    display: flex;
    gap: 10%;
    padding: 1rem;
}

.navegacao-menu a{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.navegacao-menu a:hover{
    color: var(--cor-destaque);
}

.projetos{
    display: flex;
    justify-content: center;
    padding: 15% 0 15%;
}

.projeto-link{
    text-decoration: none;
    color: var(--cor-secundaria);
}

.projeto-link:hover{
    color: var(--cor-destaque);
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.projeto-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
}

.projeto-descricao{
    font-family: var(--fonte-principal), serif;
    font-size: 1rem;
    color: var(--cor-destaque);
}

.projeto-imagem{
    width: 50%;
    border-radius: 5%;
}

.projeto-imagem:hover{
    box-shadow: #85A947 10px 10px 10px ;
}

@media (max-width: 1200px) {
    .projetos{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .projeto{
        width: auto;
    }

    .projeto-link{
        text-decoration: underline;
    }

    .projeto-imagem{
        width: 70%;
    }
}

/*
    CSS -> Blog
*/

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.blog-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 2.3rem;
    padding: 1.5rem;
}

.blog-postagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--cor-terciaria);
    width: 50%;
}

.blog-postagem-comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.blog-postagem-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
}

.blog-postagem-texto{
    font-size: 1.2rem;
}

.blog-comentarios{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.blog-comentarios-titulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1.5rem;
}

.blog-comentarios-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.blog-comentarios-post-subtitulo{
    font-family: var(--fonte-secundaria), serif;
    font-size: 1rem;
}

.blog-comentarios-post-texto{
    font-size: 1.2rem;
}

/*
    CSS -> Agenda de Eventos
*/
