:root{
    --cor-primaria:;
    --cor-secundaria:;
    --cor-terciaria:;
    --cor-destaque:;
    --gap-texto:;
}

.cabecalho{
    
}

.apresentacao{
    
}

.apresentacao-presidente{
    
}

.apresentacao-presidente-titulo{
    
}

.destaque-titulo{
    
}

.apresentacao-presidente-texto{
    
}

.apresentacao-presidente-hobbies{
    
}

.apresentacao-presidente-hobbies-titulo{

}

.apresentacao-presidente-hobbies-lista{

}

.apresentacao-presidente-hobbies-item{

}

.rodape{

}
